spellchecker
altgraph==0.16.1
auto-py-to-exe==2.6.5
beautifulsoup4==4.8.1
bottle==0.12.17
bottle-websocket==0.2.9
bs4==0.0.1
cffi==1.13.2
comtypes==1.1.7
datacompy==0.6.0
dateutils==0.6.7
Eel==0.10.4
enhancedminidom==0.2
et-xmlfile==1.0.1
filelock==3.0.12
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
glob3==0.0.1
greenlet==0.4.15
jdcal==1.4.1
numpy==1.17.3
openpyxl==3.0.0
packaging==19.2
pandas==0.25.3
parse==1.12.1
pathlib==1.0.1
pathlib2==2.3.5
pefile==2019.4.18
pluggy==0.13.0
py==1.8.0
pycparser==2.19
PyInstaller==4.0.dev0+1eadfa55f2
pyparsing==2.4.4
PyQt5==5.13.2
PyQt5-sip==4.19.19
PyQtWebEngine==5.13.1
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
selenium==3.141.0
sip==5.0.0
six==1.12.0
soupsieve==1.9.5
toml==0.10.0
tox==3.14.0
urllib3==1.25.7
virtualenv==16.7.7
whichcraft==0.6.1
xlrd==1.2.0
XlsxWriter==1.2.2
xlwings==0.16.0
