VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(1, 0, 1, 1),
    prodvers=(1, 0, 1, 1),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
    ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        u'040904B0',
        [StringStruct(u'CompanyName', u'Innodata'),
        StringStruct(u'FileDescription', u'CTCOB17 - BLMS On-Boarding Validation'),
        StringStruct(u'FileVersion', u'1.0.1.1'),
        StringStruct(u'InternalName', u'CTCOB17 - BLMS On-Boarding Validation'),
        StringStruct(u'LegalCopyright', u'\xa9 Innodata. All rights reserved.'),
        StringStruct(u'OriginalFilename', u'CTCOB17 - BLMS On-Boarding Validation.exe'),
        StringStruct(u'ProductName', u'CTCOB17 - BLMS On-Boarding Validation'),
        StringStruct(u'ProductVersion', u'1.0.1.1')])
      ]), 
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)